:root {
  // font
  --font-heading: "", sans-serif;
  --font-body: "", sans-serif;
  // color
  --color-black: #000000;
  --color-white: #ffffff;
  //
}
// font variable
// color variable
.color-black {
  color: var(--color-black);
}
.color-white {
  color: var(--color-white);
}
.limit-width {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .limit-width-11-col {
    max-width: calc(calc(11 / 12) * 100%);
    width: 100%;
    margin: 0 auto;
  }
  .limit-width-10-col {
    max-width: calc(calc(10 / 12) * 100%);
    width: 100%;
    margin: 0 auto;
  }
  .limit-width-9-col {
    max-width: calc(calc(9 / 12) * 100%);
    width: 100%;
    margin: 0 auto;
  }
  .limit-width-8-col {
    max-width: calc(calc(8 / 12) * 100%);
    width: 100%;
    margin: 0 auto;
  }
  .limit-width-7-col {
    max-width: calc(calc(7 / 12) * 100%);
    width: 100%;
    margin: 0 auto;
  }
  .limit-width-6-col {
    max-width: calc(calc(6 / 12) * 100%);
    width: 100%;
    margin: 0 auto;
  }
}
