:root {
  --font-heading: "", sans-serif;
  --font-body: "", sans-serif;
  --color-black: #000000;
  --color-white: #ffffff;
}

.color-black {
  color: var(--color-black);
}

.color-white {
  color: var(--color-white);
}

.limit-width {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .limit-width-11-col {
    max-width: 91.6666666667%;
    width: 100%;
    margin: 0 auto;
  }
  .limit-width-10-col {
    max-width: 83.3333333333%;
    width: 100%;
    margin: 0 auto;
  }
  .limit-width-9-col {
    max-width: 75%;
    width: 100%;
    margin: 0 auto;
  }
  .limit-width-8-col {
    max-width: 66.6666666667%;
    width: 100%;
    margin: 0 auto;
  }
  .limit-width-7-col {
    max-width: 58.3333333333%;
    width: 100%;
    margin: 0 auto;
  }
  .limit-width-6-col {
    max-width: 50%;
    width: 100%;
    margin: 0 auto;
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px solid #000;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button:focus {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

body {
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: auto !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.lightpick {
  --color-stroke: #ccc;
  --color-bg: #fff;
  --color-active-is-today: #0f0f0f;
  --color-active-is-today-opacity: rgba(15, 15, 15, 0.7);
}
.lightpick .lightpick__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
  background-color: var(--color-stroke);
  border: 1px solid var(--color-stroke);
}
.lightpick .lightpick__day {
  background-color: var(--color-bg);
}
.lightpick .lightpick__day.is-today {
  background-image: none;
  background-color: var(--color-active-is-today);
  color: var(--color-bg);
}
.lightpick .lightpick__day.is-end-date,
.lightpick .lightpick__day.is-end-date:hover,
.lightpick .lightpick__day.is-start-date,
.lightpick .lightpick__day.is-start-date:hover {
  background-image: none;
  background-color: var(--color-active-is-today);
  color: var(--color-bg);
}
.lightpick .lightpick__day:not(.is-disabled):hover {
  background-image: none;
  background-color: var(--color-active-is-today-opacity);
  color: var(--color-bg);
}
.lightpick .lightpick__month-title {
  margin-left: 0;
  padding-left: 0;
  border-radius: 0;
  direction: ltr;
  text-align: left;
}
.lightpick .lightpick__days-of-the-week {
  margin-bottom: 8px;
  margin-top: 8px;
}
.lightpick .lightpick__day.is-disabled {
  text-decoration: line-through;
}